<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>农业灌溉施肥补光系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">农业灌溉施肥补光系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">传感器管理</a></li>
            <li class="layui-nav-item">
                <a href="/self/self" target="content_iFrm">用户信息</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/img/head.png}" class="layui-nav-img">
                    赵皓宇
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/self/infor">基本资料</a></dd>
                    <dd><a href="/self/change">修改密码</a></dd>
                    <dd><a href="/self/icon" target="content_iFrm">更换头像</a></dd>
                    <dd><a href="">安全设置</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">农田分块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/courseorder/list" target="content_iFrm">1号农田</a></dd>
                        <dd><a href="/stuinfo/list" target="content_iFrm">2号农田</a></dd>
                        <dd><a href="" target="content_iFrm">继续添加</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据分析</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/dataanalysis/income" target="content_iFrm">温度分布图</a></dd>
                        <dd><a href="javascript:;">湿度分布图</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">登录</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/log/log" target="content_iFrm">登陆陆</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">点点滴滴</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe name="content_iFrm" frameborder=”no” border=”0″ class="larry-iframe"
                style="width: 100%;height: 100%;" src="/courseorder/list"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.use(['element','layer'], function(){
        var element = layui.element;

    });
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
