<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>

<a href="/self/change" target="content_iFrm">
    <button type="button" class="layui-btn layui-btn-lg">修改个人信息</button>
</a>

<button type="button" class="layui-btn layui-btn-lg">更换头像</button>
<button type="button" class="layui-btn layui-btn-lg">退出</button>




</body>
</html>